/* 

This file holds the global reset for the element that ar mantatory

Reset and normalize 

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Inputs and Buttons */

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* LISTS */
ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  line-height: 1.432;
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* Images and Media */
img,
video,
picture,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inputs and Buttons */
input,
button {
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}
